extends layout

block content
    #app.app
        form#form
            fieldset.fieldset.work
                label.timeLabel.work(for='workTime') Work
                input#workInput.timeInput(type='number', value='25', min='1', max='99', required='')
            fieldset.fieldset.rest
                label.timeLabel.rest(for='restTime') Rest
                input#restInput.timeInput(type='number', value='5', min='1', max='99', required='')
            .buttons-row
                button#playPause.button.playPause.play(type='submit')
                    i#playPauseIcon.fa.fa-play(aria-hidden='true')
                button#reset.button.reset
                    i.fa.fa-refresh(aria-hidden='true')
        #timer.timer
            p#timerLabel.timerLabel Working
            p#clock.clock 0:00:00
        #completed.completed
